label{
  display:block;
  margin-bottom:10px;
}

input,textarea{
  display: block;
  width:100%;
}

button{
  width:100%;
  padding:10px;
  cursor:pointer;
}

.app-container{
  padding:10px;
  display:flex;
}

.step-legend{
  flex:1;
  padding:20px;
}

.edit-step{
  flex:1;
  padding:20px;
}

.task-container{
  padding:10px;
  border:1px solid #ddd;
}

.test-column{
  display:flex;
}

.test-container{
  flex:1;
}

.step{
  list-style: none;
  cursor:pointer; 
  border:1px solid #ddd;
  
  margin-bottom:10px;
}

.step:hover{
}

.step.active{
  background-color:#eee;
}