label{
  display:block;
  padding:20px;
}

input{
  display: block;
}

.app-container{
  padding:10px;
  display:flex;
}

.step-legend{
  flex:1;
}

.edit-step{
  flex:1;
}

.task-container{
  margin:10px;
  padding:10px;
  border:1px solid #ddd;
}

.test-column{
  display:flex;
}

.test-container{
  flex:1;
}

.step{
  list-style: none;
  cursor:pointer;
  padding:10px;
  margin:4px;
}

.step:hover{
  background-color:#ddd;
}

.step.active{
  background-color:#eee;
}